/*
 *	Generic StyleSheet for Elements
 *	Author: Nathan Brettell
 *
 */

/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.chromeframe {position: absolute; top: 0;}

/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
html, body { }
body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 14px;
	background: #eee;
}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {color: #333; line-height: 1.2em;}

a { color: #e8e8e8; }
a:hover { color: #46a1ff; }

a { text-decoration: none; }

h1 { 
	font-size: 3.8em; 
	line-height: 1.6em;
}
h1.post-title {
	font-size: 3em;
	font-weight: normal;
}
h1.over-image {
	position: absolute;
	top: 140px;
}
h2 { 
	font-size: 3.2em;
	line-height: 1.5em;
}
h3 { 
	font-size: 2.8em;
	line-height: 1.45em;
}
h4 { 
	font-size: 2.5em;
	line-height: 1.3em;
}
h5 { 
	font-size: 2em;
	line-height: 1.25em;
}
h6 { 
	font-size: 1.25em;
	line-height: 1.2em;
	font-weight: normal;
}

p {
	margin: 1em 0;
	line-height: 1.4;
}

ul li {
	list-style: none;
	list-style-type: none;
}

table {
	border-spacing: 0;
	border-collapse: separate;
}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #559604; color: #fff; text-shadow: none;}
::selection {background: #559604; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color: #a9a9a9; }
textarea:-moz-placeholder { color: #a9a9a9; }


/* And here begins the WordPress fun.
-------------------------------------------------------------------------------*/

body {
	/*background: rgba(0, 153, 255, 0.6);*/
}

#page-wrap, 
#wrapper, 
.container { 
	padding: 0 10px; 
	margin: 0 auto; 
}

#main { 
	padding-top: 1em; 
	padding-bottom: 10px; 
	overflow: hidden; 
	
}

.not-front #main {
	width: 100%;
	padding-top: 2em;
	background: #FFF;
	position: relative;
}

.posts #main,
.category #main {
	background: #363636;
	padding: 0;
	margin-top: 2em;
}

.how-it-works #main {
	padding: 0;
	margin-top: 2em;
}

.how-it-works #main-background {
	background: url('/core/images/core-example-background.jpg') no-repeat;
	height: 600px;
	background-size: 100%;
	background-position: 0% 75%;
}

.registration #main {
	background: url('/core/images/core-registration-back.jpg') no-repeat;
	height: 600px;
	background-size: 100%;
	background-position: 0% 75%;
}

.post {}

.entry-content {}
.entry-content a {}
.entry-content a:hover {}

#meta {}
.postmetadata {}

#sidebar {}

.front h6 {
	font-family: 'Allura';
	font-size: 3em;
	color: #D1D1D1;
}

aside#sidebar_menu {
	float: left;
	width: 18%;
	/*padding: 5px 8px;*/
}

.not-front #header {
	/*background: #191919;*/
	padding: 5px 20px;
}

body.front .slide-wrapper {
	width: 960px;
	margin: 0 auto;
}

body.front header.slide-header {
	/*padding: 10px;*/
	background: none;
	padding: 0;
	width: 100%;
	position: absolute;
	color: #e8e8e8;
	z-index: 999;
}

/* --- Navigation styling --- */
#nav, .navigation { 
	padding: 18px 0;
	color: #fff;
	display: inline-block;
}

.front #nav {
	display: block;
}

	#nav ul.menu {
		text-align: center;
	}

		#nav ul.menu > li {
			display: inline-block;
			margin: 0 10px;				
			color: #626262;
			padding: 6px 10px;
			font-size: 1.2em;
			background: url('/core/images/dropdown.png') no-repeat right center;
			padding-right: 45px;
		}

		#nav ul.menu > li:hover {
			cursor: pointer;
		}

		#nav ul.menu li ul.submenu {
			background: #FFF;
			padding: 6px 10px;
			color: #333;
			text-align: left;
			border-top: 5px solid #559604;
			position: absolute;
			width: 200px;
			margin-top: 10px;
			z-index: 999;
		}

			#nav ul.menu li ul.submenu li a {
				color: #333;
				padding: 8px 0;
				display: block;
				width: 100%;
			}



aside#sidebar_menu {

}

	aside#sidebar_menu ul {

	}

		aside#sidebar_menu ul#category-navigation li {
			list-style: none;
			list-style-type: none;
		}

		aside#sidebar_menu ul#category-navigation li.even a {
			background: #363636;
		}

		aside#sidebar_menu ul#category-navigation li.odd a {
			background: #555555;
		}

			aside#sidebar_menu ul#category-navigation li a {
				padding: 16px 10px 16px 30px;
				display: inline-block;
				width: 100%;
			}

			aside#sidebar_menu ul#category-navigation li a:hover {
				background: #70C506;
				color: #FFF;
			}

			aside#sidebar_menu ul#category-navigation li#create-your-own {
				position: absolute;
				bottom: 0;
				width: 18%;
			}

			aside#sidebar_menu ul#category-navigation li#create-your-own a {
				padding: 25px 10px 25px 30px;
				font-size: 1.2em;
			}

			aside#sidebar_menu ul#category-navigation li#create-your-own {
				background: seagreen;
			}
			
			

/* --- Header styling --- */
span#logo {

}
	span#logo img {
		vertical-align: middle;
	}

#header #searchForm {
	display: inline-block;
	margin: 0 40px;
} 

#searchForm input.search-input {
	padding: 10px;
	border-radius: 8px;
	border: 1px solid #ccc;
	width: 280px;
}
#header #searchForm input[type='submit'] {
	-webkit-appearance: none;
	border: none;
	background: seagreen;
	padding: 10px 15px;
	border-radius: 6px;
	color: white;
	cursor: pointer;
}

.slide-header { 
	width: 100%;
	text-align: center;
	display: inline-block; 
}

.front hgroup, 
.front #header h1,
#header hgroup h6 {
	padding: 10px;
}

#header h1, #header h1 a { 
	display: inline-block;
	line-height: 1em;
}

#header div.description {
 color: #e8e8e8; 
}

	/* --- Player status styling --- */
	#playerActive {
		/*width: 100%;
		text-align: right;
		margin-left: 30px;*/
		float: right;
		display: inline-block;
		margin: 40px 10px;
	}

	#playerActive a#player {
		color: #70C506;
		background: url('/core/images/player-avatar.png') no-repeat 100% 0;
		padding: 0 30px 0 0;
	}

	#playerNotActive {
		float: right;
		display: inline-block;
		margin: 20px;
		clear: both;
		vertical-align: top;
	}

	.front #playerNotActive {
		display: block;
		float: none;
	}

	#playerNotActive {
		text-align: right;
	}

	#playerNotActive a {
		color: #559604;
		padding: 10px;
		margin: 0 10px;
	}
	
	#playerNotActive a.highlight {
		background: rgba(20,20,20,0.6);
		border-radius: 0.5em;
	}

	#playerNotActive a:hover {
		background: rgba(40,40,40,0.4);
		border-radius: 0.5em;
	}

	.not-front #playerNotActive a:hover {
		color: #e8e8e8;
	}

	.front #playerActive {
		/*background: #222;*/
		color: #e8e8e8;
		padding: 8px 40px;
		text-align: right;
		margin: 0 0 10px 0;
		width: 100%;
	}

	.front ul#user-links {
		top: 40px;
	}

	ul#user-links {
		padding: 10px;
		position: absolute;
		top: 115px;
		right: 0px;
		background: #222;
		width: 100px;
		text-align: left;
		z-index: 999;
	}

	ul#user-links li {
		margin: 10px;
	}

	#playerNotActive {
		font-family: Arial, sans-serif;
	}

	body.front #playerNotActive div.background {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		height: 10%;
		-webkit-filter: blur(1px);
		background: #191919;
		opacity: 0.3;
		z-index: -1;
	}

	#playerActive span {
		color: #626262;
	}

		#playerActive  a#openLogin {
			padding: 5px 8px;
			background: #222;
		}

		#playerActive a#player {
			font-size: 1.2em;
			line-height: 1.5em;
		}

			#playerActive div {
				display: inline-block;
			}

		#playerActive div.level_bar {
			margin: 0 10px;
		}

		#playerActive div.level_bar span.percentage {
			text-align: center;
			display: inline-block;
			width: 100%;
			font-size: 0.8em;
			vertical-align: top;
		}

		#playerActive div.level-bar-fill {
			display: block; 
			background: #05B4FF;
			height: 16px;
			border-radius: 8px;
			-moz-border-radius: 8px;
		}


#header #searchform label.screen-reader-text {  /* Remove search text */
	position: absolute;
	left: -9999px;
}

#search_form_container form#search_form {
	width: 50%;
	margin: 20px auto;
}

#search_form_container form#search_form input#search-bar {
	padding: 8px 20px;
	width: 100%;
	background: url('/core/images/search-icon.png') no-repeat 3% 50% rgba(0,0,0,0.7);
	border-radius: 2em;
	-moz-border-radius: 2em;
	border: none;
	margin: 2em 0;
	padding: 0.8em;
	color: #A2A2A2;
	font-size: 1.1em;
	padding-left: 4em;
	outline: none;
	box-shadow: 0 3px 5px -4px hsl(0, 0%, 30%), inset 4px -2px 12px -2px hsl(0, 0%, 2%);
	opacity: 0.95;
}

form#search_form input#search-bar:focus,
section#searchForm input:focus {
	outline: none;
}

h2.search-title span {
	background: seagreen;
	padding: 3px 10px;
	color: white;
}

ul.ui-autocomplete,
ul.ui-autocomplete {
	z-index: 999;
	background: rgba(255, 255, 255, 0.8);
	/*background: rgba(85, 150, 4, 0.8);*/
	border: 0;
	padding: 10px;
	top: 480px !important;
	border-radius: 1em;
	-moz-border-radius: 1em;
}

ul.ui-autocomplete::before {
	content: ' ';
	width: 0; 
	height: 0;
	position: absolute;
	top: -20px;
	left: 5%;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid rgba(255, 255, 255, 0.8);
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: none !important; background: #46a1ff; font-weight: normal; color: #191919; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: none !important; background: #e8e8e8; font-weight: normal; color: #191919; }

ul.ui-autocomplete li.ui-menu-item a.ui-corner-all {
	color: #191919;
}

/* --- Superslide styling --- */
nav.slides-pagination {
	bottom: 20px;
}

/* --- Filter styling --- */
ul#difficulty-field,
ul#level-field {
	position: absolute;
	display: inline-block;
	margin: 0 5px;
}

ul#level-field {
	right: 30px;
}

ul#difficulty-field {
	right: 210px;
}

ul.form-select label,
ul.form-select li {
	padding: 10px 20px;
	background: #191919;
	color: seagreen;
}

ul.form-select label {
	display: block;
	width:	100%;
	font-size: 1.2em;
	background: url('/core/images/dropdown_white.png') no-repeat 90% center #191919;
	padding-right: 45px;
}

ul.form-select li {
	color: #e8e8e8;
}

ul.form-select li:hover {
	background: #e8e8e8;
	color: #191919;
	cursor: pointer;
}

/* --- Content styling --- */
body.how-it-works #content {
	margin-top: 100px;
}

#content {
	width: 82%;
	padding: 20px 20px 10px 5%;
	margin: 0 auto;
	display: inline-block;
	background: #FFF;
}

.post #content {
	width: 92%;
}

#content_top {
	position: relative;
	display: inline-block;
	height: 50px;
	width: 86%;
}

.profile-area #content {
	width: 98%;
}

	#content a {
		color: #70C506;
	}

div.social-area {
	margin: 10px 0;
}

div.social-area h6 {
	margin: 10px 0;
}

	div.social-area div {
		display: inline-block;
		vertical-align: bottom;
		min-width: 120px;
	}

#post-directory {
	width: 95%;
	/*display: table;
	border-collapse: separate;*/
	border-spacing: 20px;
	margin: 0 0 0 40px;
}

.recipe-moderation p {
	font-size: 1.5em;
}

section#player-rewards {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #191919;
	padding: 30px 20px;
	color: #e8e8e8;
	z-index: 999;
}

section#player-rewards span {
	vertical-align: top;
	display: inline-block;
	margin: 5px 10px;
}
	
	section#player-rewards span#close {
		float: left;
		z-index: 999;
		cursor: pointer;
		font-size: 1.5em;
    	height: 20px;
    	display: block;
	}

	section#player-rewards span#close:after {
	    color: #E8E8E8;
	    content: "close";
	    font-size: 0.5em;
	    margin: 0 10px;
	}

section#player-rewards #badge {
	width: 200px;
	margin-right: 30px;
	float: left;
	display: inline-block;
}

section#player-rewards div {
	margin: 4px 0;
}

div#player-reward {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	margin: 0 40px;
	text-align: center;
}

	div#player-reward span.code {
		padding: 20px;
		font-size: 1.2em;
		background: seagreen;
	}

div.ach-exp-notification {
	vertical-align: top;
	margin: 8px;
}

div.exp-notification {
	vertical-align: top;
	margin: 5px 10px;
	display: inline-block;
	color: #e8e8e8;
	font-weight: bold;
	background: #191919;
	border-radius: 2em;
	padding: 4px 8px;
	position: fixed;
	bottom: 5%;
	left: 40%;
}

div.exp-notification:hover {
	cursor: pointer;
}

div.exp-notification span {
	vertical-align: top;
	display: inline-block;
	padding: 7px 10px;
}


#player-achievement {
	width: 480px;
	display: inline-block;
}

	#player-achievement img.achievement-badge {
		display: block;
		margin: 10px auto;
	}

section.division.full-width {
	padding: 1em 2em;
}

section#information {
	background: #FFF;
}

section.information-area {
	margin: 60px 0;
	color: #888;
	display: inline-block;
}

.complete-recipe.button {
	clear: both;
}

section.information-area:nth-child(3) {
	background: #FFF;
}

section.information-area:nth-child(3) h2 {
	text-align: right;
}

	section.information-area h2 {
		color: #383838;
		font-weight: normal;
		margin: 20px 0;
	}

	section.information-area .image-placement,
	section.information-area p {
		display: inline-block;
	}

	section.information-area:nth-child(3) .image-placement {
		float: right;
	}

	section.information-area p {
		display: inline-block;
		vertical-align: top;
		font-size: 1.2em;
		line-height: 1.4;
		margin: 10px 50px;
		width: 45%;
	}

img#recipe-img {
	max-width: 100%;
}

form.create-recipe div.segment-right,
div.profile-area div.segment-right {
	float: right;
	padding: 1% 3%;
	width: 50%;
}

form.create-recipe div.segment-left,
div.profile-area div.segment-left {
	float: left;
	padding: 1% 3%;
	width: 50%;
}

div.profile-area div.segment-right,
div.profile-area div.segment-left {
	padding: 2% 0;
}

/* --- Post styling --- */
span.recipe-count {
	font-weight: bold;
	padding-left: 50px;
}
.posts-container {
	/*display: table-row;*/
}

	#post-directory .post-entry,
	#recipe_history .post-entry {
		float: left;
		width: 260px;
		margin: 0 15px 40px 15px;
		/*display: table-cell;*/
		height: 480px;
		vertical-align: top;
		border: 1px solid #ccc;
		-webkit-box-shadow: -3px 8px 8px -6px #222;
		-moz-box-shadow: -3px 8px 8px -6px #222;
		box-shadow: -3px 8px 8px -6px #222;
		background: #FFF;
	}

	.post-entry h4 {
		font-size: 2em;
		font-weight: normal;
	}

	#post-directory .post-entry .photo_thumb,
	#recipe_history .post-entry .photo_thumb {
		max-height: 195px;
		overflow: hidden;
	}
		#post-directory .post-entry .photo_thumb img,
		#recipe_history .post-entry .photo_thumb img {
			width: 100%;
		}

	#post-directory .post-entry .post-container,
	#recipe_history .post-entry .post-container {
		padding: 15px 20px;
		line-height: 1.8em;
	}

		#post-directory .post-entry h6 a,
		#recipe_history .post-entry h6 a {
			color: #70C506;
		}

		div.single-recipe div#recipe_features {
			background: #2B2929;
			color: #e8e8e8;
			width: 50%;
			display: inline-block;
		}

			div#recipe_features #rating {
				width: 60%;
				display: inline-block;
			}

			div#recipe_features #source {
				width: 20%;
				display: inline-block;
				vertical-align: bottom;
				text-align: right;
				float: right;
			}

		div.single-recipe div.recipe-details {
			padding: 20px;
		}

		div.single-recipe div.recipe-photo {
			display: inline-block;
			margin: 0px 20px 10px 0;
			width: 100%;
			max-height: 460px;
			overflow: hidden;
		}

		div.single-recipe #recipe-content {
			clear: both;
		}

		div.single-recipe .recipe-section {
			padding: 10px 20px;
			background: #fff;
		}

		div.single-recipe div#ingredients {
			background: #F5F5F5;
			display: inline-block;
			width: 40%;
			margin-right: 10px;
		}

		div.single-recipe #method {
			clear: both;
			background: #F5F5F5;
			display: inline-block;
			width: 55%;
			vertical-align: top;
			margin-left: 10px;
		}

		div.single-recipe #nutritional_info {
			background: #F5F5F5;
			margin: 10px 0;
			display: inline-block;
			float: left;
			clear: left;
			width: 40%;
		}

		div.large-button.timer {
			margin: 10px;
			display: block;
		}

		div.play-area {
			display: inline-block;
			width: 100%;
			margin: 20px 0;
		}

		div.helpful {
			font-size: 1.8em;
			padding: 10px;
		}

		div.single-recipe #ingredients ul li,
		div.single-recipe #method ul li,
		div.single-recipe #nutritional_info ul li  {
			margin: 10px 0;
		}

		#method ul li,
		#nutritional_info ul li {
			list-style-type: decimal;
		}

		div.single-recipe div#recipe-wrapper {
		}

		div.single-recipe div#recipe_comments {
			float: left;
			width: 45%;
			margin: 0px 20px 0 20px;
		}

		div.single-recipe div.post_extras {
			float: left;
			margin: 10px;
			width: 45%;
		}

			div.single-recipe div.post_extras div.extra {
				margin: 10px 0;
				width: 30%;
				display: inline-block;
				height: 45px;
				vertical-align: top;
				text-align: center;
			}

			div.extra h6 {
				color: #8A8A8A;
			}

		#recipe-items {
			display: inline-block;
			vertical-align: top;
		}

		#recipe_menu {
			vertical-align: top;
			margin: 0 50px;
			width: 25%;
			display: inline-block;
		}

		ul#ingredients,
		ul.method,
		ul#nutritional_info {
			padding: 10px 30px;
		}
		ul#ingredients li,
		ul.method li {
			line-height: 1.6em;
		}

		#recipe_menu li.recipe-nutrition,
		#recipe_menu li.recipe-ingredients,
		#recipe_menu li.recipe-nutrition {
			float: left;
			width: 120px;
			height: 120px;
			/*padding: 25px;*/
			background: #51CAA8;
			font-size: 0.85em;
			color: #191919;
			border-radius: 100px;
			margin: 20px;
			background: white;
			font-size: 0.85em;
			color: #191919;
			border-radius: 100px;
			overflow: hidden;
		}

		#recipe_menu li.recipe-area span {
			text-align: center;
			display: block;
			font-weight: bold;
			width: 120px;
			height: 60px;
			font-size: 1.3em;
		}

		#recipe_menu li.recipe-area span.first {
			background: #F8F8F8;
			padding: 25px 0;
		}
		#recipe_menu li.recipe-area span.second {
			background: #70C506;
			padding: 12px 0;
		}

		.post-entry span.exp {
			font-size: 1.6em;
			background: url('/core/images/experience.png') no-repeat 5% center;
			display: block;
			padding: 12px 20px 12px 50px;
			color: white;
		}

		.post-entry span.exp.level-0 {
			background-color: #049679;
		}
		#content .post-entry.level-0 a,
		#content .post-entry.level-0 h6 a {
			color: #049679;
		}

		.post-entry span.exp.level-1 {
			background-color: #70C506;
		}
		#content .post-entry.level-1 a,
		#content .post-entry.level-1 h6 a {
			color: #70C506;
		}

		.post-entry span.exp.level-2 {
			background-color: #96045C;
		}
		#content .post-entry.level-2 a,
		#content .post-entry.level-2 h6 a {
			color: #96045C;
		}

		.post-entry span.exp.level-3 {
			background-color: #045C96;
		}
		#content .post-entry.level-3 a,
		#content .post-entry.level-3 h6 a {
			color: #045C96;
		}

		.post-entry span.exp.level-4 {
			background-color: #960404;
		}
		#content .post-entry.level-4 a,
		#content .post-entry.level-4 h6 a {
			color: #960404;
		}

		.post-entry span.exp.level-5 {
			background-color: #D35400;
		}
		#content .post-entry.level-5 a,
		#content .post-entry.level-5 h6 a {
			color: #D35400;
		}

/*.post-entry a {
	color: #46a1ff;
}

.post-entry a:hover {
	color: #262626;
}*/

/* --- Profile styling --- */
h2.profile-header {
	font-size: 1.4em;
}

.achievements-section {
	margin: 20px 0;
}

.profile h3 {
	display: inline-block;
	margin: 0 50px;
}

	.profile div.achievement {
		display: inline-block;
		margin: 20px 10px;
		width: 40%;
		vertical-align: top;
		text-align: center;
		background: #e8e8e8;
		padding: 10px;
		border-radius: 1em;
		height: 230px;
	}

	.profile div.achievement img {
		margin: 10px;
	}

	.profile div.achievement h6 {
		font-weight: bold;
	}

	.profile img#user-avatar {
		max-width: 240px;
	}

	form#user-form {
		width: 200px;
		display: inline-block;
	}

	.profile div.player_stats {
		display: inline-block;
		vertical-align: top;
	}

div.player-leaderboard {
	display: inline-block;
	margin: 5% 0;
	width: 100%;
}

div.player-leaderboard h5 {
	background: #e8e8e8;
	padding: 2%;
}

section#recipe_history {
	clear: both;
}

/* --- Footer styling --- */
#footer {
	/*background: #191919;*/
	color: #ADADAD;
	padding: 20px;
}
	#footer img {
		opacity: 0.6;
		display: block;
	}

		#footer p {
			width: 30%;
			float: left;
			margin: 1em 5em 1em 0;
		}
		#footer span#copy {
			display: block;
			text-align: right;
			font-size: 0.8em;
		}
			#footer ul.menu {
				padding: 10px 0;
			}

			#footer li.list-heading {
				display: inline-block;
				margin: 0 20px;
				width: 200px;
				vertical-align: top;
				color: #191919;
			}

			#footer li.list-heading span {
				margin-bottom: 5px;
			}

			#footer li.list-heading ul {
				color: #ADADAD;
			}

				#footer span {
					display: block;
				}

			#footer li.social {
				float: left;
				margin: 5px;
			}

				#footer li.social img {
					opacity: 0.8;	
				}

/* --- Form elements --- */

select, input {
	padding: 3px 5px;
}

	/* --- Forms --- */

	.front #userForm,
	.not-front #userForm {
		width: 40%;
		margin: 100px auto;
	}

	.not-front #userForm {
		width: 30%;
	}

	#userForm.hidden {
		display: none;
		margin: 0;
	}

		#userForm form {
			padding: 20px;
			border-radius: 8px;
			background: rgb(31, 31, 31);
			background: rgba(31, 31, 31, .8);
		}

		#userForm #user-login fieldset {
			padding: 20px 0;
		}
		
		#userForm #user-login fieldset legend {
			color: #e8e8e8;
		}

		input#private-check {
			margin: 10px;
		}

		input.button.register {
			display: block;
		}

		/*form#user-login input[type="submit"],
		form#user-login a.register {
			-webkit-appearance: none;
			-moz-appearance: none;
			padding: 10px;
			background: #e8e8e8;
			color: #222;
			border: 0;
			font-size: 1em;
			font-family: 'Helvetica', 'Arial', sans-serif !important;
			vertical-align: middle;
		}*/

/* http://www.bestcssbuttongenerator.com/#/lESVHdPQHg */
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #e8e8e8 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #e8e8e8 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #e8e8e8 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #e8e8e8 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #e8e8e8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-size: 14px;
	padding:12px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.button:active {
	position:relative;
	top:1px;
}

div.new_post {
	float: left;
	clear: both;
}

			#userForm form label {
				color: #e8e8e8;
				display: inline-block;
				text-align: right;
				margin-right: 10px;
			}

				form.user-form input[type="text"],
				form.user-form input.form-field {
					clear: right;
					width: 95%;
					margin: 8px 0;
					padding: 10px 15px;
					border-radius: 20px;
					-moz-border-radius: 20px;
				}

				form input.form-field:focus {
					outline none;
				}

				#userForm form input.form-field,
				#userForm form input.form-field:focus {
					border: 0;
					outline: 0;
				}

				form.user-form legend {
					color: #FFF;
				}

#registration-form {
	width: 60%;
	padding: 10px 30px;
	background: rgba(255, 255, 255, 0.6);
}

	#registration-form label {
		display: inline-block;
		text-align: left;
		float: left;
		width: 130px;
		margin: 5px 0;
	}

		#registration-form input.form-field {
			margin: 5px auto;
			width: 100%;
			border-radius: 0;
			-moz-border-radius: 0;
			border: 1px solid #ccc;
		}

 #recipe-form input.form-field,
 #recipe-form textarea,
 #recipe-form select {
 	width: 100%;
 	padding: 10px 4px;
 }

 #recipe-form select {
 	height: 45px;
 	font-size: 1.2em;
 	margin-bottom: 10px;
 }

 #recipe-form label,
 #recipe-form span.field-description {
 	display: block;
 	padding: 5px 0;
 }

  #recipe-form span.field-description {
  	color: #909090;
  }

  #recipe-form textarea{
  	height: 120px;
  	border: 1px solid #CCC;
  }

  #recipe-form #upload-area {
  	position: relative;
	overflow: hidden;
	margin: 10px 0;
	width: 140px;
  }

  #recipe-form input.form-upload {
  	position: absolute;
	top: 15px;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	height: 45px;
  }

  #recipe-form span.upload-button {
  	display: block;
  	width: 120px;
  	padding: 10px;
  	background: #0B8470;
  	border-radius: 8px;
  	margin: 20px 10px;
  	text-align: center;
  	border: 2px solid #CCC;
  	color: #FFF;
  }
	
			/* --- Form errors --- */
			.display_error {
				position: absolute;
				top: 0;
				left: 0;

				width: 100%;
				background: #191919;
				text-align: center;
				opacity: 0.8;
			}

			.display_error span {
				display: block;
				/*padding: 3px 5px;*/
				font-size: 0.9em;
				color: #FFF;
			}

/* --- Comments --- */
textarea#comment {
	display: block;
	width: 100%;
	padding: 5px;
}

div#recipe_comments div.comment {
	padding: 3px 8px;
	border-left: 5px solid seagreen;
	margin: 10px 0;
}

.clear{clear: both;}
.tuto-cnt{width: 480px; background-color: #fff; border:#ccc 1px solid; height:auto; min-height: 400px; margin: 40px auto; padding: 40px; overflow: auto; }

hr{ margin: 10px 0; border:none; border-top: #ccc 1px dotted;}

/*  First Example with big stars */
.rate-ex1-cnt{
	width:225px; height: 40px;
}
.rate-ex1-cnt .rate-btn{
	width: 45px; height:40px;
	float: left;
	background: url(/core/images/rate-btn.png) no-repeat;
	cursor: pointer;
}
.rate-ex1-cnt .rate-btn:hover, .rate-ex1-cnt  .rate-btn-hover, .rate-ex1-cnt  .rate-btn-active{
	background: url(/core/images/rate-btn-hover.png) no-repeat;
}
/* End first Example with big stars */

.post-entry span.star {
	background: url('/core/images/rate-small.png') no-repeat 0 -2px;
	padding-left: 25px;
}


/*  Second Example with big stars */
.rate-ex2-cnt{
	width:150px; height: 30px;
	border:#e9e9e9 1px solid;
	background-color:  #f6f6f6;
}
.rate-ex2-cnt .rate-btn{
	width: 30px; height:30px;
	float: left;
	background: url(/core/images/rate-btn2.png) no-repeat;
	cursor: pointer;
}
.rate-ex2-cnt .rate-btn:hover, .rate-ex2-cnt  .rate-btn-hover, .rate-ex2-cnt  .rate-btn-active{
	background: url(/core/images/rate-btn2-hover.png) no-repeat;
}
/* End second Example with big stars */

/*  Third Example with big stars */
.rate-ex3-cnt{
	width:85px; height: 17px;
	border:#e9e9e9 1px solid;
	background-color:  #f6f6f6;
}
.rate-ex3-cnt .rate-btn{
	width: 17px; height:17px;
	float: left;
	background: url(/core/images/rate-btn3.png) no-repeat;
	cursor: pointer;
}
.rate-ex3-cnt .rate-btn:hover, .rate-ex3-cnt  .rate-btn-hover, .rate-ex3-cnt  .rate-btn-active{
	background: url(/core/images/rate-btn3-hover.png) no-repeat;
}
/* End third Example with big stars */


/* rate result */
.rate-result-cnt{
	width: 82px; height: 18px;
	position: relative;
	background-color: #ccc;
	border: #ccc 1px solid;
}
.rate-stars{
	width: 82px; height: 18px;
	background: url(/core/images/rate-stars.png) no-repeat;
	position: absolute;
}
.rate-bg{
	height: 18px;
	background-color: #ffbe10;
	position: absolute;
}


/* --- Leaderboard styling --- */
#loading,
#loading img {
	margin: 0 auto;
	text-align: center;
}

#leaderboard-update,
#user-leaderboard-update {
	float: left;
	margin: 20px auto;
	width: 90%;
	text-align: left;
	padding: 2%;
}

	#leaderboard-update table#leaderboard
	#user-leaderboard-update table#user-leaderboard {
		width: 100%;
	}

		table#leaderboard tr.user-details {
			position: relative;
			padding: 8px;
			width: 80%;
		}

		table#leaderboard tr.user-details #user-achievements {
			float: left;
			text-align: center;
			width: 40%;
		}

			table#leaderboard tr.user-details:hover,
			table#user-leaderboard tr.user-details.current {
				background: #70C506;
				color: #e8e8e8;
				cursor: pointer;
			}
			
				table#leaderboard tr.user-details td,
				table#user-leaderboard tr.user-details td  {
					padding: 8px;
					width: 42%;
				}

			table#leaderboard td.user-info {
				padding: 5px 10px;
				background: rgba(200, 200, 200, 0.8);
			}

			table#leaderboard tr.achievements {
				display: none;
			}

/* --- Generic styling --- */
div.recipe-photo img {
	width: inherit;
}

.create-your-own .notification {
	position: fixed;
	background: rgba(255, 255, 255, 0.8);
	padding: 20px;
	border-radius: 1em;
	top: 20%;
	width: 40%;
	left: 30%;
}

span#timer {
	margin: 0 20px;
	font-size: 2em;
}

.button {
	margin: 10px 0;
}

.button a {
	padding: 10px 20px;
	background: #126da6;
	color: #FFF;
}

h2.recipe-count {
	margin: 50px 0;
	color: #FFF;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.intro-button a,
.large-button a {
	display: block;
	padding: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-size: 1.4em;
	border-bottom: 1px solid #CCC;
}

.front .intro-button a {
	margin: 60px auto;
	width: 30%;
}

#content .large-button {
	display: inline-block;
}

#content .large-button a {
	display: block;
	color: #e8e8e8;
	width: 200px;
}
	.large-button a img {
		vertical-align: bottom;
	}

.large-button.light-blue a {
	background: #0ad3df;
}
.intro-button.blue a {
	background: #0B8470;
}
.intro-button.green a {
	background: #1ACC3E;
}
.intro-button.red a {
	background: #CC2F1A;
}
.description {
	margin: 60px 0;
}

.intro-button a:hover,
.large-button a:hover {
	color: #323232;
}

.description h2.desc-title {
	font-weight: normal;
	text-shadow: 2px 2px 3px #000;
}

.description p {
	font-size: 1.3em;
	line-height: 1.5em;
	color: #CCC;
	width: 55%;
	margin: 0 auto;
	text-shadow: 2px 2px 3px #000;
}

#footer a {
	color: #559604;
}

/* Print styles!
-------------------------------------------------------------------------------*/
@media print {

}


/* Media queries!
-------------------------------------------------------------------------------*/

/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media all and (max-width: 480px) {
	#header {
		text-align: center;
	}

	#nav {
		float: none;
		width: 90%;
	}

	#header #searchform {
		float: none;
	}

	ul#gallery-flip {

	}

	ul#gallery-flip li.tile-item {
  		width: 33%;
	}

	.post #content,
	.post #content #recipe_features,
	.post #content #ingredients,
	.post #content #method,
	.post #content .post_extras,
	div.single-recipe #nutritional_info,
	.post div.single-recipe #recipe_comments,
	.registration #registration-form {
		width: 100%;
	}

	div.single-recipe .recipe-section {
		margin: 10px 0;
	}
}

/*********************************************************************************
*************************  Reponsive ***********************************
**********************************************************************************/

@media (max-width: 1200px) {
  /* elements */
  
  select {
    width: 100%;
  }

  #post-directory .post-entry, #recipe_history .post-entry {
  	width: 285px;
  	margin: 20px 10px;
  }
  
  article#post-directory {
	width: 100%;
	margin-left: 20px;
  }

  ul#difficulty-field, ul#level-field {
	bottom: 0px;
  }

}
@media (max-width: 979px) {

}
@media (max-width: 767px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
  
}
@media (min-width: 480px) and (max-width: 976px) {
	body.front .slide-wrapper {
		width: 100%;
	}

	#header h1 {
		float: left;
	}

	#content {
		padding: 20px 0;
	}

	#content_top {
		height: 80px;
	}

	#searchForm input.search-input {
		margin: 10px 0;
	}

	article#post-directory {
		width: 100%;
		margin: 0;
	}

	#post-directory .post-entry, #recipe_history .post-entry {
		width: 250px;
		height: 500px;
		margin: 15px 8px;
	}

	ul#difficulty-field, ul#level-field {
		top: 30px;
	}
}

@media (max-width: 1024px) {
	#slides {
		height: 750px !important;
	}

	.front img.back {
		height: 750px !important;
		width: 1100px !important;
		top: 0 !important;
	}

	#content {
		width: 70%;
	}

	aside#sidebar_menu,
	aside#sidebar_menu ul#category-navigation li#create-your-own {
		width: 30%;
	}

	#footer li.list-heading {
		margin: 0 20px 10px 20px;
		width: 160px;
	}
}

@media (max-width: 605px) {
	body.front .slide-wrapper {
		width: 100%;
	}
	#slides {
		height: 850px !important;
	}

	#footer p {
		width: 100%;
	}

	#search_form_container form#search_form {
		width: 90%;
	}

	#footer li.list-heading {
		margin: 0;
		font-size: 1.2em;
		line-height: 1.4;
		width: 100%;
	}

	#footer li.list-heading span {
		margin: 15px 0 5px 0;
	}

	#footer span#copy {
		text-align: left;
		margin: 20px 0;
	}

	.front .intro-button a {
		width: 50%;
		line-height: 1.4;
	}

	.front img.back {
		height: 850px !important;
		left: -250px !important;
		width: 1100px !important;
		top: 0 !important;
	}

	.front #userForm, 
	.not-front #userForm {
		width: 90%;
	}

	#post-directory .post-entry, #recipe_history .post-entry {
		width: 320px;
	}

	form.create-recipe div.segment-right, div.profile-area div.segment-right,
	form.create-recipe div.segment-left, div.profile-area div.segment-left {
		float: none;
		width: 100%;
	}

}
@media (max-width: 568px) {
	#content,
	aside#sidebar_menu {
		width: 100%;
	}

	aside#sidebar_menu ul#category-navigation li#create-your-own {
		width: 100%;
	}

	.not-front #header {
		padding: 0;
	}

	#playerNotActive {
		display: block;
		float: none;
		text-align: center;
	}

	#content_top {
		width: 100%;
	}

}
@media (max-width: 480px) {
	.profile div.achievement {
		width: 100%;
		margin: 10px;
	}

	#playerActive div.level_bar span.percentage {
		margin: 5px;
	}

	#playerActive div.level_bar {
		margin: 10px 0;
	}

	#playerActive div.level-bar-fill {
		height: 25px;
	}

	div.user_level {
		font-size: 1.5em;
	}

	#playerActive a#player {
		font-size: 1.8em;
	}

	#slides {
		height: 960px !important;
	}

	.front img.back {
		height: 920px !important;
		left: -400px !important;
	}

	#header #searchForm {
		margin: 0;
		display: block;
	}

	#post-directory {
		margin: 0;
	}

	div#content_top {
		height: 80px;
	}

	ul#difficulty-field, ul#level-field {
		bottom: 10px;
	}

	ul#difficulty-field {
		right: 130px;
	}

	ul#level-field {
		right: 0px;
	}

	.posts #main {
		padding-bottom: 1em;
	}

	#post-directory .post-entry, #recipe_history .post-entry {
		height: 500px;
	}

	#searchForm input.search-input {
		width: 245px;
	}
	#post-directory .post-entry, #recipe_history .post-entry {
		width: 225px;
		margin: 0 10px 40px 5px;
	}
}
@media (max-width: 400px) {
	body.front .slide-wrapper {
		width: 320px;
	}

	#post-directory .post-entry, #recipe_history .post-entry {
		width: 260px;
	}
}
