	<footer id="footer" role="footer">
		<img class="preserve" src="/core/timthumb.php?src=/core/images/core-logo.png&q=100&h=45&f=2" />
		<p>Core is an educational platform, that supports a fun learning environment with the focus on creative cooking.</p>
		<ul class="footer_menu menu">
			<li class="list-heading"><span>Begin learning</span>
				<ul class="sub-menu">
					<li><a href="/core/about">About Core</a></li>
					<li><a href="/core/posts">Menu</a></li>
					<li><a href="/core/how-it-works">How it works</a></li>
					<li><a href="/core/search">Search</a></li>
				</ul>
			</li>
			<li class="list-heading"><span>Flavours of the World</span>
				<ul class="sub-menu">
					<li>Breakfast</li>
					<li>Italian</li>
					<li>Seafood</li>
					<li><a href="/core/create-your-own">Create your own</a></li>
				</ul>
			</li>
			<!-- Social icons http://www.vecteezy.com/vector-icons/53242-flat-vector-social-icons-eps -->
			<li class="list-heading"><span>Send a message</span>
				<ul class="sub-menu">
					<li>Contact</li>
					<li class="social"><a href="#"><img src="/core/images/facebook.png" alt="facebook-website" /></a></li>
					<li class="social"><a href="#"><img src="/core/images/twitter.png" alt="twitter-website" /></a></li>
				</ul>
			</li>	
		</ul>
		<!--<span> <img src="/core/images/oven-gloves.png" /> </span>-->
		<span id="copy"> Core - Cooking based Gamification &copy; 2013-2014 </span>

	<script>
	$(function(){
		$('#popular').click(function(){    
                var dataRate = 'act=popular&level=<?php echo $playerDetails['level']; ?>'; //
                $.ajax({
                    type : "POST",
                    url : "/core/ajax_popular_posts.php",
                    data: dataRate,
                    success:function(data){
                    	$('#post-directory').html(data);
                    }
                });
                
            });

		$('#quick_simple').click(function(){    
                var dataRate = 'act=quick_simple&level=<?php echo $playerDetails['level']; ?>'; //
                $.ajax({
                    type : "POST",
                    url : "/core/ajax_quick_simple.php",
                    data: dataRate,
                    success:function(data){
                    	$('#post-directory').html(data);
                    }
                });
                
            });
		});
	</script>
	</footer>
		</div>
	</body>
</html>